<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">



	<!-- Multipart request resolver. -->
	<bean id="multipartResolver"
	      class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	      
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/static/**/*" />
			<mvc:exclude-mapping path="/*/**/login" />
			<!--  <mvc:exclude-mapping path="/*/**/logout" />-->
			<mvc:exclude-mapping path="/*/error" />
			<mvc:exclude-mapping path="/user/user" />
			<mvc:exclude-mapping path="/activity/activities" />
			<mvc:exclude-mapping path="/activity/nearbyActivities" />
			<bean id="AuthenticateInterceptor" class="cn.chinattclub.izou7AppServer.interceptor.AuthenticateInterceptor" />
		</mvc:interceptor>
		
	</mvc:interceptors>
</beans>